body, html {
  height: 100%;
  margin: 0;
  font-family: "Playfair Display", "Didot", "Times New Roman", Times, serif; 
}

*{
	box-sizing: border-box;
}
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
body{
	background-image: url("pictures/paper.jpg");

	/* Full height */
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

