p { 
	font-family: "Playfair Display", "Didot", "Times New Roman", Times, serif; 
	color: #ff0059;

	
}

.bg {
	background-image: url("paper.jpg");

	/* Full height */
	margin: 0;
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
